/* You can add global styles to this file, and also import other style files */
body{
  background-color:#F7F0F5;
}

button {
  background: #519872;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  transition: background 0.2s ease-in-out;
}

button:hover{
  background: #B2D02D;
}
