<div class="refrigerator-content">
  <h1>🧊 Mein Kühlschrank</h1>

  <ul class="ingredient-list">
    @for (ingredient of ingredientsList(); track ingredient.id) {
      <li>
        <input class="ingredient-list-element" type="text" (change)="editIngredient(ingredient)" [(ngModel)]="ingredient.ingredient_name">
        <input class="ingredient_checkbox" id="{{ingredient.ingredient_name}}" type="checkbox" (click)="selectIngredient(ingredient)">
        <button (click)="removeIngredient(ingredient)">🗑️</button>
      </li>
    }

  </ul>

  <label>
    <button (click)="selectAllIngredients()">Alle Produkte auswählen</button>
  </label>


  <input type="text" [(ngModel)]="cuisine" placeholder="Kategorie">
  <button (click)="addIngredientDialog.show()">Zutat hinzufügen</button>
  <button (click)="generateMeal()">🍽️ Mahlzeit generieren</button>

  <dialog #addIngredientDialog>
    <h2>Zutat hinzufügen</h2>
    <input type="text" [(ngModel)]="newIngredient" placeholder="Zutat">
    <button (click)="addIngredient(addIngredientDialog)">Hinzufügen</button>
    <button (click)="addIngredientDialog.close()">Abbrechen</button>
  </dialog>


  @if (recipes().length > 0) {
    <div class="recipe-container">
      <h2>Gefundene Rezepte:</h2>
      @for(recipe of recipes(); track recipe.name) {
        <h3>{{ recipe.name }}</h3>
        <p><strong>Heiß oder kalt:</strong> {{ recipe.hotOrCold }}</p>
        <p><strong>Gesund:</strong> {{ recipe.healthy ? 'Ja' : 'Nein' }}</p>
        <p><strong>Allergien:</strong> {{ recipe.allergies.join(', ') }}</p>
        <p><strong>Zubereitung:</strong> {{ recipe.howToCook }}</p>
        <h4>Zutaten:</h4>
        <ul>
          @for(ingredient of recipe.ingredients; track ingredient) {
            <li>{{ ingredient }}</li>
          }
        </ul>
        <button (click)="showDetailedRecipe(recipe)">Detaillierte Schritte anzeigen</button>
      }
    </div>
  }

  @if (detailedRecipe()) {
    <div class="modal-overlay" (click)="closeModal()">
      <div class="modal" (click)="$event.stopPropagation()">
        <button class="close-button" (click)="closeModal()">Schließen</button>
        <h2>{{ detailedRecipe()?.detailed_recipe?.name }}</h2>

        <h3>Detaillierte Schritte:</h3>

        <ol class="detailed-steps">
          @for (step of detailedRecipe()?.detailed_recipe?.detailed_steps; track step) {
            <li>{{ step }}</li>
          }
        </ol>

      </div>
    </div>
  }

</div>
