<div class="refrigerator-content">
  <h1>🧊 Mein Kühlschrank</h1>

  <ul class="ingredient-list">
    @if (ingredientsList()?.length === 0) {
      <li>Keine Zutaten vorhanden</li>
    } @else {
      @for (ingredient of ingredientsList(); track ingredient.id) {
        <li>
          <input class="ingredient-list-element" type="text" (change)="editIngredient(ingredient)" [(ngModel)]="ingredient.ingredient_name">
          <input class="ingredient_checkbox" id="{{ingredient.ingredient_name}}" type="checkbox" (click)="selectIngredient(ingredient)">
          <button class="delete-box" (click)="removeIngredient(ingredient)">🗑️</button>
        </li>
      }
    }
  </ul>

  <label>
    <button (click)="selectAllIngredients()">Alle Produkte auswählen</button>
  </label>

  <input class="input-ingredient-input" type="text" [(ngModel)]="cuisine" placeholder="Kategorie">
  <button (click)="openDialog(addIngredientDialog)">Zutat hinzufügen</button>
  <button (click)="generateMeal()">🍽️ Mahlzeit generieren</button>


  <div class="dialog-container" [class.visible]="dialogOpen()">
    @if (dialogOpen()) {
      <div class="dialog-overlay"></div>
    }

    <dialog class="dialog-window" #addIngredientDialog>
      <div class="input-ingredient-container">
        <h2>Zutat hinzufügen</h2>
        <input class="input-ingredient-input" type="text" [(ngModel)]="newIngredient" placeholder="Zutat">
        <div class="input-ingredient-buttons">
          <button (click)="addIngredient(addIngredientDialog)">Hinzufügen</button>
          <button (click)="closeDialog(addIngredientDialog)">Abbrechen</button>
        </div>
      </div>
    </dialog>
  </div>

  @if (isLoadingRecipes()) {
    <div class="loading-overlay">
      <div class="spinner"></div>
      <p>Rezepte werden geladen...</p>
    </div>
  }

  @if (isLoadingDetails()) {
    <div class="loading-overlay">
      <div class="spinner"></div>
      <p>Detaillierte Schritte werden geladen...</p>
    </div>
  }
</div>

  @if (recipes().length > 0) {
    <div class="recipe-container">
      @for (recipe of recipes(); track recipe.name) {
        <div class="recipe">
          <div class="recipe-header">
            <h1>{{ recipe.name }}</h1>
            <span class="remove-btn" (click)="addRecipeToFavourites(recipe)">⭐</span>
          </div>
          <p><strong>Heiß oder kalt:</strong> {{ recipe.hotOrCold }}</p>
          <p><strong>Gesund:</strong> {{ recipe.healthy ? 'Ja' : 'Nein' }}</p>
          <p><strong>Allergene:</strong> {{ recipe.allergies.join(', ') }}</p>
          <p><strong>Zubereitung:</strong> {{ recipe.howToCook }}</p>
          <p><strong>Zutaten:</strong></p>
          <ul>
            @for (ingredient of recipe.ingredients; track $index) {
              <li>{{ ingredient }}</li>
            }
          </ul>
        </div>
      }
    </div>
  }

  @if (detailedRecipe()) {
    <div class="modal-overlay" (click)="closeModal()">
      <div class="modal" (click)="$event.stopPropagation()">
        <button class="close-button" (click)="closeModal()">Schließen</button>
        <h2>{{ detailedRecipe()?.detailed_recipe?.name }}</h2>

        <h3>Detaillierte Schritte:</h3>

        <ol class="detailed-steps">
          @for (step of detailedRecipe()?.detailed_recipe?.detailed_steps; track step) {
            <li>{{ step }}</li>
          }
        </ol>
      </div>
    </div>
  }
