<div class="sidebar" [class.closed]="!isOpen()">
    <ul class="sidebar-content">
      <div class="sidebar-top-content">
        <li><a (click)="navigateToRefrigerator()">Kühlschrank</a></li>
        <li><a (click)="navigateToRecipes()">Rechnungen</a></li>
        <li><a (click)="navigateToFavourite()">Favourites</a> </li>
      </div>
      <div class="sidebar-content-last-element">
        <li><a (click)="navigateToLogin()">Login</a></li>
      </div>
    </ul>
  <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
</div>
